.fullHomePage {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    /* min-height: 100vh; */
}

.homePage {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    margin-left: 274px;
    min-height: 100vh;
}

.homePage_options {
    display: flex;
    position: fixed;
    top: 90px;
    /* z-index: 1; */
    width: 100%;
    /* box-sizing: border-box; */
    gap: 10px;
    /* flex-shrink: 0; */
    height: auto;
    overflow-x: scroll;
    /* background-color: black; */

}

.homePage_options::-webkit-scrollbar {
    width: 12px;
}

.homePage_option {
    flex: 0 0 auto;
    height: 32px;
    padding: 1px 16px;
    background-color: rgba(42, 42, 42, 0.863);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.home_mainPage {
    display: grid;
    background-color: black;
    box-sizing: border-box;
    gap: 10px;
    grid-template-columns: 384px 384px 384px;
    padding: 90px 0 20px 0;
    height: 100vh;
}
